.detail-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detail-left {
  width: 50%;
}

.detail-right {
  width: 50%;
}
.detail-right li {
  list-style-type: none;
  font-size: 20px;
  color: rgb(201, 77, 5);
}
.detail-right h2 {
  color: rgba(2, 2, 53, 0.87);
}
#price {
  font-weight: bold;
  color: rgba(2, 2, 53, 0.87);
}
